@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Plus Jakarta Sans;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-section {
  margin-top: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: url(".././assets/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 20px;
}
.contact-section.dark {
  background: linear-gradient(black, white, black);
}

.wrap-contact {
  display: flex;
  background-color: white;
  border-radius: 20px;
  height: 500px;
  width: 70%;
  padding: 20px;
}

.gaps-contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

img {
  height: 250px;
  width: 250px;
}

.imagepart-contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

#contact-form {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  flex-direction: column;
}

.contact-btn {
  background-color: #864ef2;
  height: 40px;
  width: 300px;
  color: white;
  font-size: 14px;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  font-weight: 600;
  outline: none;
  border: none;
}

.contact-btn:hover {
  background-color: #7847db;
}

#email-contact,
#name-contact,
#message-contact {
  height: 30px;
  width: 300px;
  border: none;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  caret-color: purple;
  font-size: 16px;
  padding: 8px 10px;
}

textarea#message-contact {
  height: 80px;
  outline: none;
  font-size: 16px;
}

/* Media Queries */
@media (max-width: 480px) {
  .wrap-contact {
    width: 90%;
    height: auto;
    border: 2px solid whitesmoke;
    box-shadow: 5px 5px 40px rgb(44, 43, 43);
  }

  .imagepart-contact {
    width: 100%;
  }

  #contact-form {
    width: 80%;
  }

  #email-contact,
  #name-contact,
  textarea#message-contact {
    width: 250px;
  }

  .contact-btn {
    width: 250px;
  }

  .contact-section {
    background-image: none;
  }
}
